*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    margin: 0 auto;
}

.form-box{
    width: 400px;
    margin: 100px auto;
}

.form{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

h2{
    margin: 0 auto;
}



#firstName,
#lastName,
#email,
#password,
#checkbox,
#signUp{
    width: 400px;
    height: 50px;
    margin-top: 25px;
    padding-left: 10px;
    border: 2px solid silver;
    border-radius: 5px;
    outline: none;
    position: relative;
}

#firstName:hover{
    border: 2px solid skyblue;
}

#redFirst,
#greenFirst{
    position: absolute;
    width: 20px;
    top: 70px;
    right: 10px;
    display: none;
}

#redLast,
#greenLast{
    position: absolute;
    width: 20px;
    top: 145px;
    right: 10px;
    display: none;
}


#pFirstName,
#pLastName{
    top: 103px;
    font-size: 14px;
    height: 25px;
    margin-bottom: -25px;
    padding: 5px;
    color: white;
    background-color: crimson;
    border-radius: 3px;
    display: none;
}



#checkbox{
    width: 15px;
    height: 15px;
    
}

label{
    margin-top: 13px;
    margin-left: 10px;
}

#signUp{
    padding-left: 0;
    color: #fff;
    background-color: skyblue;
    border: none;
}